<h1>Beer List:</h1>
<% @beers.each do |beer| %>
  <h3><%= beer["name"] %></h3>
  <h4><%= beer["style"] %></h4>
  <p><%= beer["alcohol_content"] %></p>
  <a href="/beers/<%= beer['id'] %>">show info</a>
<% end %>